<?xml version="1.0"?>
<model>
  <name>My Moving Sphere</name>
  <version>1.0</version>
  <sdf version="1.7">model/model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your_email@example.com</email>
  </author>
  <description>
    A simple sphere model for Gazebo simulation.
  </description>
</model>
